

        body{
            margin: 0;
        }
        
        #logo{
            font-family: 'Dancing Script', cursive, serif;
            color: #9d6f38;
            padding:15px;
            font-size: 33px;
        }
        
        #n{
           display: flex;
           justify-content: space-between; 
           align-items: center ;
           background-color: rgba(242, 207, 235, 0.86); 
           height: 50px;
           z-index:1;
           position:absolute ;
           top:0;
           width:100%;
        }
        
        
       
    #h{ 
        position: relative;
            display: flex;
            flex-direction: column;
            justify-content:center;
             align-items: center;
            height: 100vh;
            width: 100%;
            background-image: url(background.jpeg);
                background-size: cover;
                background-position: center;
                font-family: 'Source Sans Pro', sans-serif;
            text-align: center;
        } 

        
         
        #overlay{
            background-color:rgba(0, 0, 0, .3);
            position:absolute;
            top:0;
            bottom:0;
            height:100%;
            width:100%;
        }
        
        
        #collegamenti a,#separator a{
        font-family: 'Playfair Display', serif;
        font-size: 16px;
        border: 3px outset rgb(169, 11, 135) ;
        color: #9d6f38;
        font-style:oblique;
        text-decoration: none; 
        margin:7px;
        padding: 5px;
        
        }
        
        
        
        #n div a:hover {
            
        border: 4px double #ff03c4;
        background-color:#7d0375e8;
        color: rgb(199, 141, 170);
        
        }
        
        #n div a:active{
        text-decoration: underline wavy rgb(200, 160, 209); 
        }
        
        
        
        #titolo{
            font-size:86px;
            color: hwb(332 8% 23%);
            max-width: 780px;
            z-index:1;
        }
        
        
        .intro {

            font-style: italic;
            color:rgb(179, 52, 116); 
            font-size:25px;
            max-width: 780px;
            font-family: 'Satisfy', cursive, 'Lora';
            letter-spacing: 1px;
        }
        
        
        #menu{
            display: none;
        }
        
        @media (max-width:634px){
            #collegamenti {
                display:none;
            }
            #menu{
                display:block;}
        }
        
        #menu div{
           width:25px;
           height: 3px;
           background-color: hwb(332 8% 23%);
           margin:5px 10px;
        }
        
        .no-scroll{
            overflow: hidden;
        }
        
        
        footer{
            background-color: rgb(242, 207, 235);
            color: rgb(190, 13, 131);
            padding: 35px;
            text-align: center;
            width: auto;
        }
        
        
        